.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  gap: 50px;
}

.site-nav__item {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-color-dark;
}

.site-nav__link {
  display: flex;
  padding: 32px 0;
  transition: color $primary-transition-time $primary-cubic-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contacts__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
  display: flex;
  padding: 32px 0;
  transition: color $primary-transition-time $primary-cubic-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current {
  color: $accent-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
