.logo__accent {
  color: $accent-color;
}

.header__logo {
  @extend %logo;
  margin-right: 93px;
  padding: 24px 0 25px;

  color: black;
}

.footer__logo {
  @extend %logo;
  display: inline-block;
  margin-bottom: 20px;

  color: $main-color-light;
}
