.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transition: opacity $primary-transition-time $primary-cubic-function;

  background-color: $backdrop;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $main-color-light;
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  background-color: transparent;

  &:hover {
    fill: $accent-color;
  }
}

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $second-color-dark;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
}

.input__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;

  padding: 0 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline-color: $accent-color;
    transition: outline-color $primary-transition-time $primary-cubic-function;
  }
}

.modal__input:focus ~ .modal__icon {
  fill: $accent-color;
  transition: fill $primary-transition-time $primary-cubic-function;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
}

.modal__comments {
  resize: none;

  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__contact-wrap {
  margin-bottom: 30px;
}

.modal__contract-label {
  display: flex;
  align-items: center;
}

.modal__link {
  color: $accent-color;
  margin-left: 5px;
}

.contract__icon-wrap {
  display: inline-block;
  margin: 0 8px 0 12px;
  width: 16px;
  height: 15px;

  border: 2px solid $second-color-dark;
  border-radius: 2px;

  &:hover {
    border-color: $accent-color;
  }
}

.modal__contract-icon {
  fill: transparent;
}

.modal__contract:checked + .modal__contract-label > .contract__icon-wrap {
  background-color: $accent-color;
  border: none;
}

.modal__contract:checked + .modal__contract-label .modal__contract-icon {
  fill: #ffffff;
}

.modal__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 55px;
}
