$main-color-light: #ffffff;
$second-color-dark: #212121;
$second-color-bgc: #f5f4fa;
$main-text-color: #757575;
$accent-bgc: #2f303a;
$accent-color: #2196f3;
$accent-active: #188ce8;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-transition-time: 250ms;
$primary-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
$backdrop: rgba(0, 0, 0, 0.2);
$overlay: rgba(33, 150, 243, 0.9);

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


